*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*for navbar*/
.topnav {
  background-color: #333;
  overflow: hidden;
    font-family: sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.dropdown
{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
  font-size:17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  cursor: pointer;
  background-color: inherit;
    margin-right: 0px;
  font-family: inherit;
  margin: 0;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.example{
    text-align: right;
}
.example a
{

}
.topnav input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 0;
    margin-left: 20px;
  font-size: 17px;
}
.btn
{
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.btn:hover {
  background: #0b7dda;
}
.btn-1
{
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid grey;
}
body
{
   margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: gainsboro;
    background-image: linear-gradient(rgba(0, 0, 0, 0.81),rgba(0, 0, 0, 0.81)),url(Images/1.png);
    background-attachment: fixed;
    background-size: cover;
}
.sec
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    padding: 20px;
    background: white;
    margin: 8% auto 0;
    text-align: center;
   border-radius: 20px;
}
h1
{
    margin-bottom: 10px;
}
img
{
    width: 70px;
    margin-top: -50px;
    border-radius: 20px;
}
.log input
{
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width:100%;
    border: 1px solid #999;
    outline:none ;
}
hr
{
    margin-top: 10px;
    margin-bottom: 10px;
}
form .btn1
{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    outline: none;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: skyblue;
}
.btn1:hover
{
    background:cadetblue;
}
